# Pocket Option Account/API configuration
PO_EMAIL=okwakolvictor5@gmail.com.com
PO_PASSWORD=okwaksvictor25112008

# Set this to True for demo trading, False for real trading (be careful!)
DEMO_MODE=True

# Risk configuration
RISK_PERCENTAGE=2  # % equity per trade

# API Endpoint
PO_API_WSS=wss://demo-api-eu.po.market/socket.io/?EIO=4&transport=websocket

# Max concurrent daily trades allowed
MAX_TRADES_PER_DAY=3